.card-content {
  background-color: #eff4ff;
  height: 30vh;
  width: 50%;
  padding: 2%;
  border-radius: 4%;
}

.number-custom {
  width: 70px;
  height: 70px;
  font-size: 32px;
  padding: 4%;
  background-color: #fff;
  color: #171718;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
