.logout-btn {
  border-radius: 50px;
  height: 36px;
  display: flex;
  align-items: center;
  width: 107px;
  justify-content: center;
}

.btn:hover {
  color: #0078FF !important;
  background-color: #fff !important;
  border-color: #0078FF !important;
}
