<div class="row mt-2">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-80 py-2 border-0">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <img
              src="../../../../../assets/Group_3.png"
              class="img-fluid"
              alt="Responsive image"
              width="100"
            />
          </div>
          <div class="col mr-2">
            <div class="price-head mb-1">
              Today’s High
            </div>
            <div class="h5 mb-0 price-sec"><span>₹</span>144.65</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2 border-0">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <img
              src="../../../../../assets/Group 33 (4).png"
              class="img-fluid"
              alt="Responsive image"
              width="100"
            />
          </div>
          <div class="col mr-2">
            <div class="price-head mb-1">
              Today’s Low
            </div>
            <div class="h5 mb-0 price-sec"><span>₹</span>142.55</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2 border-0">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <img
              src="../../../../../assets/Group 33 (5).png"
              class="img-fluid"
              alt="Responsive image"
              width="100"
            />
          </div>
          <div class="col mr-2">
            <div class="price-head mb-1">
              52 Week High
            </div>
            <div class="h5 mb-0  price-sec"><span>₹</span>194.95</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2 border-0">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <img
              src="../../../../../assets/Group 33 (6).png"
              class="img-fluid"
              alt="Responsive image"
              width="100"
            />
          </div>
          <div class="col mr-2">
            <div class="price-head mb-1">
              52 Week Low
            </div>
            <div class="h5 mb-0 price-sec"><span>₹</span>199.85</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
     
     <app-evaluation></app-evaluation>
     <app-rating></app-rating>
    </div>
    <div class="col-6 col-md-4">
     <app-company-essential></app-company-essential>
    </div>
  </div>
</div>
