.border-custom {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 3%;
  font-size: 24px;
  font-family: inter;
  font-weight: 600;
}
.card-body > div:nth-child(even) {
  background-color: #F2F4F9; 
}

.info-icon{
    color: #C5CDDA;
}



