 <div class="card shadow-sm mb-4 border-0">
        <div class="card-body">
            <div class="border-custom">Company Essentials</div>
           
            <div class="py-3 d-flex justify-content-between">
                <span>MARKET CAP</span>
                <span>1,79,080.27 Cr.</span>
            </div>

             <div class="py-3 d-flex justify-content-between">
                <span>MARKET CAP</span>
                <span>1,79,080.27 Cr.</span>
            </div>

             <div class="py-3 d-flex justify-content-between">
                <span>MARKET CAP</span>
                <span>1,79,080.27 Cr.</span>
            </div>

             <div class="py-3 d-flex justify-content-between">
                <span>MARKET CAP</span>
                <span>1,79,080.27 Cr.</span>
            </div>
              <div class="py-3 d-flex justify-content-between">
                <span>MARKET CAP</span>
                <span>1,79,080.27 Cr.</span>
            </div>

             <div class="py-3 d-flex justify-content-between">
                <span>MARKET CAP</span>
                <span>1,79,080.27 Cr.</span>
            </div>
   
   
        </div>
      </div>
