 <div class="card shadow-sm mb-4 border-0">
        <div class="card-body">
            <div class="border-custom">Company Essentials</div>
           
            <div class="p-3 mt-2 d-flex justify-content-between">
                <span>MARKET CAP <i class="fas fa-info-circle info-icon"></i></span>
                <span><span>₹</span>1,79,080.27 Cr.</span>
            </div>

             <div class="p-3 d-flex justify-content-between">
                <span>ENTERPRISES VALUE <i class="fas fa-info-circle info-icon"></i></span>
                <span><span>₹</span>1,79,080.27 Cr.</span>
            </div>

             <div class="p-3 d-flex justify-content-between">
                <span>NO. OF SHARES <i class="fas fa-info-circle info-icon"></i></span>
                <span><span>₹</span>1,79,080.27 Cr.</span>
            </div>

             <div class="p-3 d-flex justify-content-between">
                <span>DIV YIELD <i class="fas fa-info-circle info-icon"></i></span>
                <span><span>₹</span>1,79,080.27 Cr.</span>
            </div>
              <div class="p-3 d-flex justify-content-between">
                <span>CASH <i class="fas fa-info-circle info-icon"></i></span>
                <span><span>₹</span>1,79,080.27 Cr.</span>
            </div>

             <div class="p-3 d-flex justify-content-between">
                <span>PROMOTER HOLDING<i class="fas fa-info-circle info-icon"></i></span>
                <span><span>₹</span>1,79,080.27 Cr.</span>
            </div>
   
   
        </div>
      </div>
