@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.background-image {
  background-image: url(../../../assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  //   background-position: center;
  height: 100vh;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.btn {
  border-radius: 25px;
}

.new {
  font-size: 12px;
}

.card {

  padding: 20px;
  border: none;
  background: none;
  box-shadow: none;
}


.active {

  background: #f6f7fb !important;
  border-color: #f6f7fb !important;
  color: #000 !important;
  font-size: 12px;

}

.inputs {

  position: relative;

}

.form-control {
  text-indent: 51px;
  border: none;
  height: 45px;
  border-radius: 20px;
  border-bottom: 1px solid #eee;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #eee;
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid blue;
}

.card>.suggestions-section {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  color: blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs i {

  top: 14px;
  left: 4px;
  color: #b8b9bc;
}

.star {

  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  margin-right: 10px;
  border-radius: 5px;

}

.time-text {

  font-size: 12px;
  color: #989898;
}

.dots {

  height: 7px;
  width: 7px;
  background-color: #eee;
  display: flex;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

.yellow {

  color: #ffab2e;
}

.content-text-1 {

  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffe7cc;
  color: #ffa03a;
  font-weight: 700;

}


.blue {

  color: #6ecce6;
}


.content-text-2 {

  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e2f5fa;
  color: #6ecce6;
  font-weight: 700;

}


.dark-blue {

  color: #572ce8;
}


.content-text-3 {

  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #572ce86b;
  color: #572ce8;
  font-weight: 700;

}

.form-control::placeholder {
  margin-left: 10px;
}

.inputs .search-icon {
  position: absolute;
  left: 15px;
  /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: blue;
}

.inputs .search-icon i {
  background-color: blue;
  padding: 8px;
  border-radius: 50%;
  color: white;
}

.form-control:focus+.placeholder-label {
  opacity: 0;
}

.tag-section {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.search-ttem{
  cursor: pointer;
}

.heading-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;

  h1{
    font-family: Rozha One;
    font-weight: 400;
    font-size: 5rem;
    color: #2F2F2F;
  }

  span{
    font-family: inter;
    font-weight: 600;
    font-size: 32px;
    color: #2F2F2F;
  }
}

.img-sec{
  img{
    padding-right: 5%;
  }
}