<div class="dashboard-container">
  <div class="custom-details">
    <div class="cursor-pointer" (click)="goBack()">
      <i class="fas fa-chevron-left chevron-left-icon cursor-pointer"></i
      ><span class="back-text">Back</span>
    </div>

    <div class="mt-3">
      <h3>Oil & Natural Gas Corporation Ltd</h3>
      <div class="d-flex justify-content-between sub-content">
        <div class="d-flex gap-4 sub-content">
          <div>
            NSE: <span class="bg-custom text-white rounded p-1">ONGC</span>
          </div>
          <div>
            BSE: <span class="bg-custom text-white rounded p-1">500312</span>
          </div>
          <div>SECTOR: <span class="text-custom">Oil Exploration</span></div>
        </div>

        <div class="d-flex flex-row align-items-center">
          <span
            class="bg-custom btn-custom text-white rounded p-2 inline-flex-container"
            ><i class="fas fa-caret-up caret-up-icon"></i> 142.35</span
          >

          <div class="container">
            <span>+1.65 (1.17%)</span>
            <span style="color: #2630a8; font-weight: 500;"
              >NSE:
              <span style="color: #8a8a8a; font-size: 10px"
                >Today 3:30 pm</span
              ></span
            >
          </div>
        </div>
      </div>

      <app-perfomance-card></app-perfomance-card>
    </div>
  </div>
</div>
