
<div class="dashboard-container">
  <div class="custom-details">
    <i class="bi bi-heart red-color"></i>Back

    <div>
      <h3>Oil & Natural Gas Corporation Ltd</h3>
      <div class="d-flex justify-content-between sub-content">
        <div class="d-flex gap-4 sub-content">
          <div>
            NSE: <span class="bg-custom text-white rounded p-1">ONGC</span>
          </div>
          <div>
            BSE: <span class="bg-custom text-white rounded p-1">500312</span>
          </div>
          <div>SECTOR: <span class="text-custom">Oil Exploration</span></div>
        </div>

        <div class="d-flex flex-row align-items-center">
          <span class="bg-custom btn-custom text-white rounded p-2">142.35</span>

          <div class="">
            <span>+1.65 (1.17%)</span><br />
            <span>NSE:</span>
          </div>
        </div>

      </div>

    <app-perfomance-card></app-perfomance-card>
    </div>
  </div>
</div>
