.dashboard-container {
  background: #f6f8fc !important;
  height: 100vh;
}

.custom-details {
  padding: 2% 4% 4% 4%;
}

.bg-custom {
  background-color: #b9dd4e;
}

.text-custom{
    color: #b9dd4e;
}

.btn-custom{
  width: 80%;
}

.sub-content{
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}