<div class="card shadow-sm mb-4 border-0">
  <div class="row">
    <div class="col-4">
      <div class="card-body">
        <div>
          <span class="finstar">Finstar <i class="fas fa-info-circle info-icon"></i></span>
          <div class="d-flex justify-content-between align-items-center rating-padding">
            <div class="ratings">
              <i class="fa fa-star rating-color" style="font-size: 1.5em; margin-right: 5px; color: #FFC107;"></i>
              <i class="fa fa-star rating-color" style="font-size: 1.5em; margin-right: 5px; color: #FFC107; "></i>
              <i class="fa fa-star rating-color" style="font-size: 1.5em; margin-right: 5px; color: #FFC107;"></i>
              <i class="fa fa-star rating-color" style="font-size: 1.5em; margin-right: 5px; color: #DDDDDD;"></i>
              <i class="fa fa-star" style="font-size: 1.5em; margin-right: 5px; color: #DDDDDD"></i>
            </div>
          </div>
          <div>
            <span>3.0</span>
            <span style="color: #8A8A8A;">(90)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 grid-rating">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="tag-div">Stable</div>
              <div class="card-body grid-card-body">
                <h5 class="card-title grid-card-title d-flex justify-content-between align-items-center">
                  <span>Ownership <i class="fas fa-info-circle valuation" style="font-size: 0.8em; color: #C5CDDA"></i></span>
                  <span>
                    <i class="fa fa-star rating-color" style="font-size: 0.8em;
                    margin-right: 5px;
                    color: #FFC107;"></i> <span>3.0</span>
                    <span class="valuation-value">(90)</span></span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="tag-div">Expensive</div>
              <div class="card-body grid-card-body">
                <h5 class="card-title grid-card-title d-flex justify-content-between align-items-center">
                  <span>Valuation <i class="fas fa-info-circle valuation" style="font-size: 0.8em; color: #C5CDDA"></i></span>
                  <span>
                    <i class="fa fa-star rating-color" style="font-size: 0.8em;
                    margin-right: 5px;
                    color: #FFC107;"></i> <span>3.0</span>
                    <span class="valuation-value">(90)</span></span>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card  mb-4">
              <div class="tag-div">Optimal</div>

              <div class="card-body grid-card-body">
                <h5 class="card-title grid-card-title d-flex justify-content-between align-items-center">
                  <span>Efficiency <i class="fas fa-info-circle valuation" style="font-size: 0.8em; color: #C5CDDA"></i></span>
                  <span>
                    <i class="fa fa-star rating-color" style="font-size: 0.8em;
                    margin-right: 5px;
                    color: #FFC107;"></i> <span>3.0</span>
                    <span class="valuation-value">(90)</span></span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 ">
              <div class="tag-div">Average</div>
              <div class="card-body grid-card-body">
                <h5 class="card-title grid-card-title d-flex justify-content-between align-items-center">
                  <span>Financials<i class="fas fa-info-circle valuation" style="font-size: 0.8em; color: #C5CDDA"></i></span>
                  <span>
                    <i class="fa fa-star rating-color" style="font-size: 0.8em;
                    margin-right: 5px;
                    color: #FFC107;"></i> <span>3.0</span>
                    <span class="valuation-value">(90)</span></span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>