.grid-rating {
    margin-top: 10px;
}

.card-tag {
    position: relative;
    overflow: hidden;
}

.tag-div {
    position: absolute;
    top: -6px;
    left: 12px;
    background-color: #b9dd4e;
    color: #fff;
    padding: 1px 7px;
    z-index: 1;
    width: auto;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.card-tag .card-body {
    position: relative;
    z-index: 2;
}

.grid-card-body {
    padding: 21px 7px 2px 13px;
    border-top: 1px solid rgba(0, 123, 255, 0.2);
}

.inner-content {
    padding: 5px;
}

.grid-card-title {
    font-size: 17px;
}
.valuation{
    font-size: 11px;
}
.valuation-value{
    color: #b7a5a5;
}
.rating-padding{
    margin-top: 14px;
    margin-bottom: 18px;
}
.finstar{
    font-size: 19px;
    font-weight: 700;
}

.info-icon{
    color: #b7a5a5;
}