 <div class="card shadow-sm mb-4 border-0">
        <div class="card-body">
          <div>
            <span>Finstar</span>
            <div class="d-flex justify-content-between align-items-center">
              <div class="ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <div>
              <span>3.0</span>
              <span>(90)</span>
            </div>
          </div>
        </div>
    </div>
